@import '~ngx-toastr/toastr';

.header {
    background: url('../../assets/images/Nextlevel2021VF.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inscriptions {
    min-height: 100vh;
    background: url('../../assets/images/Version2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.programme {
    min-height: 100vh;
    background: url('../../assets/images/programme.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checklist {
    height: 100vh;
    background: url('../../assets/images/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    height: 100vh; 
    background: url('../../assets/images/quino-al-4SNUcHPiC8c-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: termina, sans-serif;
    font-weight: 700;
}
