.header {
    background: url('../assets/images/Nextlevel2021VF.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inscriptions {
    height: 100vh;
    background-color: rgb(230, 214, 163);
}

.programme {
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

.checklist {
    height: 100vh;
    background-color: rgb(230, 214, 163);
}

.contact {
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

* {
    font-family: termina, sans-serif;
    font-weight: 700;
}
