<section class="dl-blurbs">
    <dl>
        <dt>Tes draps</dt>
        <dd>On attend avec impatience tes plus beaux draps la reine des neiges ou Spider-Man, y'aura même peut-être un concours du plus beau qui sait ?</dd>
        <dt>Ton duvet</dt>
        <dd>Ouais parce que malgré ce que dit Nadia, il fait pas TOUJOURS beau en Octobre (même quand c'est l'anniv' de Valentine)</dd>
        <dt>Ta bible</dt>
        <dd>Ca nous semblait évident mais on tient quand même à ce que t'évites de te faire balayer par Jon donc dans le doute on le réécrit</dd>
        <dt>Tes affaires</dt>
        <dd>Parce que c'est un week-end à vivre en communauté, pour le respect et le bien-être de chacun on serait ravi si tu pouvais ramener du gel douche et ta brosse à dents</dd>
    </dl>
    <dl>
        <dt>Ton bouclier anti-émeute</dt>
        <dd>Parce que y'a Paupau dans les responsables. Tout simplement.</dd>
        <dt>Tes boules quiesses</dt>
        <dd>Parce que Momo va sûrement leader la louange à un moment donné.</dd>
        
        <dt>Repeat</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</dd>
    </dl>
</section>