<h2 class="title-checklist has-text-centered">La Checklist</h2>

<section class="dl-blurbs">
    <dl>
        <dt data-aos="fade-in" data-aos-duration="1000">Tes draps</dt>
        <dd data-aos="fade-in" data-aos-duration="1000">Prends tes plus beaux draps la reine des neiges ou Spider-Man </dd>
        <dt data-aos="fade-in" data-aos-duration="1000">Ton duvet</dt>
        <dd data-aos="fade-in" data-aos-duration="1000">Nadia te dira qu’il fait toujours beau en octobre, mais le reste de l’équipe te recommande de prendre de quoi te réchauffer la nuit.</dd>
        <dt data-aos="fade-in" data-aos-duration="1000">Ta bible</dt>
        <dd data-aos="fade-in" data-aos-duration="1000">Parce que sinon tu risques de te faire balayer par Jon à tout moment </dd>
    </dl>
    <dl>
        <dt data-aos="fade-in" data-aos-duration="1000">Des affaires de rechange </dt>
        <dd data-aos="fade-in" data-aos-duration="1000">Parce que les plus anciens savent que des choses imprévisibles peuvent arriver durant le week-end. On t’aura prévenu  </dd>
        <dt data-aos="fade-in" data-aos-duration="1000">Prépare ton coeur </dt>
        <dd data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">Ouais parce que si on a prévu de bien rigoler, on a surtout prévu de tous avancer personnellement avec Jésus, alors on n’oublie pas l’essentiel </dd>        
    </dl>
</section>